@font-face {
  font-family: "Libre Baskerville";
  src: url("/diw-whale-project/assets/fonts/libre-baskerville-regular.woff2");
  src: url("/diw-whale-project/assets/fonts/libre-baskerville-regular.woff");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/diw-whale-project/assets/fonts/plus-jakarta-sans-regular.woff2");
  src: url("/diw-whale-project/assets/fonts/plus-jakarta-sans-regular.woff");
}
/* If we need an unestilized horizontal ul, such as a navbar links container. It could be useful for carousels as well. */
/* I was going to customize the scrollbar, but then I came up with this article: https://www.nngroup.com/articles/scrolling-and-scrollbars/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: mix($white, black, 90%);
    border-radius: 40px;
}

::-webkit-scrollbar-thumb {
    background: $brown;
    border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover {
    background: darken($brown, 30%);
} */
.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 12;
  width: 100vw;
  height: 5rem;
  padding: 0.5rem;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.8);
}
.nav__logo {
  height: 100%;
}
.nav__links {
  display: flex;
  justify-content: auto;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  height: 100%;
  width: auto;
  gap: 5rem;
  overflow: hidden;
  margin-right: 3rem;
}
.nav__li {
  height: 70%;
}
.nav__li:hover .nav__link {
  transform: rotate(-5deg);
  transform-origin: 0;
}
.nav__li:active .nav__link {
  transform-origin: 100%;
  transform: rotate(5deg);
}
.nav__link {
  align-content: center;
  display: block;
  height: 100%;
  color: #FFE6D7;
  text-decoration: none;
  transform-origin: left;
  transition: all 0.2s;
}

.nav-hamburger {
  display: none;
}

.footer {
  background-color: #0A0F14;
  color: #FFE6D7;
  padding: 3rem;
}
.footer__credits {
  text-align: center;
  font-family: "Libre Baskerville", "Times New Roman", serif;
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}
.footer__copyright {
  text-align: center;
  font-size: 1.2rem;
  opacity: 0.7;
}

@media screen and (max-width: 868px) {
  .nav__links {
    margin: 0;
    position: absolute;
    flex-direction: column;
    justify-content: left;
    gap: 3rem;
    top: 5rem;
    right: 0;
    height: calc(100vh - 5rem);
    width: 20rem;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    transition: transform 0.2s;
    transform: none;
  }
  .nav__links--hidden {
    transform: translateX(100%);
  }
  .nav__li {
    height: fit-content;
    width: 70%;
    text-align: right;
    font-size: 1.5rem;
  }
  .nav__li:first-child {
    margin-top: 5rem;
  }
  .nav__li__link {
    width: fit-content;
  }
  .nav-hamburger {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    height: 3rem;
    background-color: transparent;
    border: none;
  }
  .nav-hamburger__img {
    height: 100%;
    width: 100%;
  }
}
.acc-menu-foreground {
  display: block;
  left: 0;
  top: 0;
  position: fixed;
  height: 100vh;
  height: 100svh;
  width: 100vw;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.3s;
}
.acc-menu-foreground--hidden {
  background-color: transparent;
  pointer-events: none;
}

.acc-menu {
  left: 0;
  top: 5rem;
  position: fixed;
  height: 100%;
  max-width: 25rem;
  z-index: 6;
  width: 80%;
  background-color: #FFE6D7;
  padding: 1rem;
  transform: none;
  transition: transform 0.4s;
}
.acc-menu__title {
  text-align: center;
}
.acc-menu__options-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-height: 70%;
  overflow-y: auto;
}
.acc-menu__input-wrapper {
  border: 2px solid #1E1E1E;
  margin-bottom: 1rem;
  padding: 0.7rem;
  border-radius: 7px;
}
.acc-menu__label {
  display: block;
  margin-bottom: 0.3rem;
}
.acc-menu__btn {
  padding: 10px;
  background-color: #192832;
  color: white;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}
.acc-menu__btn--disabled {
  opacity: 0.5;
}
.acc-menu__btn--fake-center img {
  transform: translateY(1px);
}
.acc-menu__range {
  width: 100%;
}
.acc-menu__select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #1E1E1E;
  border-radius: 4px;
}
.acc-menu__toggle-menu {
  position: absolute;
  right: 0;
  bottom: 20%;
  background-color: #192832;
  border: 0;
  transform: translate(100%);
  cursor: pointer;
}
.acc-menu__toggle-menu img {
  height: 3rem;
}
.acc-menu--hidden {
  transform: translateX(-100%);
}

.admin-panel-wrapper {
  padding-top: 5rem;
  background-color: #0A0F14;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.admin-panel-nav {
  padding: 1rem;
  padding-top: 3rem;
}
.admin-panel-nav__title {
  color: #FFE6D7;
  margin-bottom: 3rem;
}
.admin-panel-nav__link {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.9rem 1.8rem;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-family: "Libre Baskerville", "Times New Roman", serif;
  transition: all 0.2s;
  background-color: #BE6900;
  color: #0A0F14;
  cursor: pointer;
}
.admin-panel-nav__link:hover {
  transform: scale(1.05);
  transition: all 0.1s;
}
.admin-panel-nav__link:active {
  transform: scale(0.95);
  transition: all 0.1s;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  position: fixed;
  z-index: 2;
  background-color: #FFE6D7;
  border-radius: 8px;
  padding: 1rem;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 40rem;
  transform: translate(-50%, -50%);
}
.modal__title {
  font-family: "Libre Baskerville", "Times New Roman", serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.card {
  display: block;
  padding: 0.8rem;
  border-radius: 8px;
  background-color: #FFE6D7;
  color: #0A0F14;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 10fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 0.5rem;
  column-gap: 1rem;
  margin-bottom: 1.5rem;
}
.card__link {
  color: inherit;
  text-decoration: none;
}
.card__icon {
  height: 12px;
}
.card__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;
  grid-row: 1/2;
}
.card__subtitle {
  grid-row: 2/3;
  max-width: 90%;
  opacity: 0.8;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__button {
  grid-row: 1/3;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Visual correction */
  transform: translateY(1px);
}
.card__icon {
  margin-right: 0.5rem;
  height: 24px;
}

.create-article__toolbar {
  display: flex;
  background-color: #192832;
}
.create-article__structure {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  height: 300px;
}
.create-article__block {
  background-color: #FFE6D7;
  height: 150px;
  width: 150px;
  border-radius: 12px;
  margin: 10px;
}
.create-article__block--blue {
  background-color: rgb(59, 59, 107);
}
.create-article__block--red {
  background-color: rgb(197, 78, 78);
}

.builder {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 5fr;
  border: 3px solid #0A0F14;
  gap: 1rem;
  height: 60vh;
  border-radius: 8px;
  overflow: hidden;
  user-select: none;
}

.builder-buttons-wrapper {
  margin-top: 1.5rem;
  display: flex;
  justify-content: right;
  gap: 1rem;
}

.toolbox {
  grid-column: 1/2;
  background: #FFE6D7;
  color: white;
  background-color: #0A0F14;
}
.toolbox__title {
  font-family: "Libre Baskerville", "Times New Roman", serif;
  font-size: 1.7rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.tool {
  z-index: 3;
  padding: 0.5rem;
  background-color: #0A0F14;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
  transition: background-color 0.2s;
  cursor: grab;
}
.tool:hover, .tool:active, .tool:focus {
  background-color: #192832;
}

.editor {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 10rem;
  background-color: #FFE6D7;
  padding-right: 1rem;
}

.btn-add-row {
  display: block;
  width: 100%;
  border: 3px dashed rgba(30, 30, 30, 0.3);
  padding: 0.5rem;
  cursor: pointer;
  background-color: rgba(30, 30, 30, 0.05);
  transition: all 0.1s;
  border-radius: 6px;
}
.btn-add-row:hover, .btn-add-row:focus {
  background-color: rgba(30, 30, 30, 0.15);
  transform: scaleY(110%);
}
.btn-add-row:active {
  background-color: rgba(30, 30, 30, 0.15);
  transform: scale(99.5%);
}

.add-row-tooltip {
  position: relative;
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  padding: 10px;
  width: fit-content;
  left: 50%;
  background-color: blue;
  bottom: 0%;
  transform: translateX(-50%);
  background-color: #FFE6D7;
  border-radius: 7px;
  box-shadow: 0 6px 20px 1px rgba(0, 0, 0, 0.3);
}
.add-row-tooltip__btn {
  border: none;
  border-radius: 5px;
  flex: 1;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  transition: background 0.2s;
}
.add-row-tooltip__btn:hover {
  background-color: rgba(30, 30, 30, 0.2);
}

.row {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  gap: 0.5rem;
  min-height: 8rem;
  margin-bottom: 0.5rem;
}
.row__column {
  position: relative;
  min-height: 100%;
  background-color: #FFE6D7;
  border: 3px dashed rgba(30, 30, 30, 0.3);
  overflow: hidden;
  flex-grow: 1;
  flex-basis: 0;
  transition: border 0.1s;
}
.row__column--over {
  border: 3px dashed #1E1E1E;
}
.row__delete-row-btn {
  width: 3rem;
  cursor: pointer;
  background-color: rgba(30, 30, 30, 0.2);
  border: 0;
}

.element {
  background-color: #192832;
  color: #FFE6D7;
  padding: 0.5rem;
}

.element, .element * {
  position: relative;
  min-height: 5rem;
  width: 100%;
  margin-bottom: 1rem;
}

.element .section-title {
  font-family: "Libre Baskerville", "Times New Roman", serif;
  font-size: 1.8rem;
  color: #FFE6D7;
}

/*# sourceMappingURL=admin-panel.css.map */
