@font-face {
  font-family: "Libre Baskerville";
  src: url("/diw-whale-project/assets/fonts/libre-baskerville-regular.woff2");
  src: url("/diw-whale-project/assets/fonts/libre-baskerville-regular.woff");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/diw-whale-project/assets/fonts/plus-jakarta-sans-regular.woff2");
  src: url("/diw-whale-project/assets/fonts/plus-jakarta-sans-regular.woff");
}
/* If we need an unestilized horizontal ul, such as a navbar links container. It could be useful for carousels as well. */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", ubuntu, sans-serif;
  font-weight: 100;
  accent-color: rgba(0, 0, 0, 0);
  /* We need to declare them both to make accessibility panel work */
  letter-spacing: 0.05em;
  word-spacing: 0.15em;
}

body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

img {
  user-select: none;
  pointer-events: none;
}

.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 8;
  width: 100vw;
  height: 5rem;
  padding: 0.5rem;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
}
.nav__logo {
  height: 100%;
}
.nav__links {
  display: flex;
  justify-content: auto;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  height: 100%;
  width: auto;
  gap: 5rem;
  overflow: hidden;
  margin-right: 3rem;
}
.nav__li {
  height: 70%;
}
.nav__li:hover .nav__link {
  transform: rotate(-5deg);
  transform-origin: 0;
}
.nav__li:active .nav__link {
  transform-origin: 100%;
  transform: rotate(5deg);
}
.nav__link {
  align-content: center;
  display: block;
  height: 100%;
  color: #FFE6D7;
  text-decoration: none;
  transform-origin: left;
  transition: all 0.2s;
}

.nav-hamburger {
  display: none;
}

.hero {
  position: relative;
  min-height: 100vh;
  min-height: 100svh;
  padding-top: 5rem;
}
.hero__title {
  font-family: "Libre Baskerville", "Times New Roman", serif;
  color: #FFE6D7;
  font-size: 3.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
  width: 80%;
}
.hero__title--centered {
  margin-left: 0;
  width: 100%;
  text-align: center;
}
.hero__subtitle {
  font-family: "Libre Baskerville", "Times New Roman", serif;
  color: #FFE6D7;
  font-size: 2rem;
  margin-left: 3rem;
  opacity: 0.5;
  margin-top: -1rem;
}
.hero__portfolio-picture-wrapper {
  position: relative;
  display: block;
  margin: auto;
  height: 93%;
  width: 96%;
  border-radius: 15px;
  margin-bottom: 3rem;
}
.hero__portfolio-picture-wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  z-index: 1;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.hero__portfolio-picture, .hero__portfolio-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
.hero__portfolio-picture-author {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  color: white;
  font-size: 1rem;
  z-index: 3;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hero--blue {
  background-color: #0A0F14;
}

.main--blue {
  background-color: #0A0F14;
}
.main--h100 {
  min-height: 100vh;
}

.whale-viewer-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

.whale-viewer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

.whale-viewer-ui-hidder {
  position: absolute;
  width: 100vw;
  z-index: 2;
}
.whale-viewer-ui-hidder--1 {
  background-color: #18262F;
  top: 0;
  left: 0;
  height: 4rem;
}
.whale-viewer-ui-hidder--2 {
  height: 3rem;
  bottom: 0;
  left: 0;
  background-color: #111B22;
}

.scroll-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3rem;
  color: white;
  transition: all 0.2s;
}
.scroll-btn__img {
  height: 4rem;
}
.scroll-btn:hover {
  transform: translateX(-50%) scale(1.1);
}
.scroll-btn:active {
  transform: translateX(-50%) scale(0.95);
}

.main-page-gradient {
  background-image: linear-gradient(180deg, #192832, #0A0F14);
}

.main--inverted .section {
  background-color: #FFE6D7;
}

.section {
  position: relative;
  padding: 8rem;
  padding-top: 6rem;
}
.section__title {
  font-family: "Libre Baskerville", "Times New Roman", serif;
  color: #FFE6D7;
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}
.section__title--brown {
  color: #1E1E1E;
}
.section__title--dark-blue {
  color: #0A0F14;
}
.section__title--mt-5 {
  margin-top: 5rem;
}
.section__body--reverse-flex {
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  justify-content: space-between;
  gap: 5%;
}
.section--white {
  background-color: #FFE6D7;
}

.paragraph {
  text-align: justify;
  color: white;
  font-size: 1.1rem;
  line-height: 2.2rem;
}

.paragraph--flex-1 {
  flex: 1;
}

.imgs-accordeon {
  display: block;
  width: 25rem;
  position: relative;
  flex: 1;
}
.imgs-accordeon__img {
  border-radius: 12px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s;
}
.imgs-accordeon__img--1 {
  z-index: 3;
  opacity: 1;
}
.imgs-accordeon__img--2 {
  z-index: 2;
  opacity: 0.6;
  transform: scale(0.95) translateY(7%);
}
.imgs-accordeon__img--3 {
  z-index: 1;
  opacity: 0.3;
  transform: scale(0.9) translateY(14%);
}
.imgs-accordeon:hover .imgs-accordeon__img--2, .imgs-accordeon:hover .imgs-accordeon__img--3 {
  z-index: 0;
  transform: none;
}
.imgs-accordeon:hover .imgs-accordeon__img--1 {
  transform: scale(1.05);
}

.flex-1 {
  flex: 1;
}

.btn-white {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-family: "Libre Baskerville", "Times New Roman", serif;
  transition: all 0.2s;
  background-color: #FFE6D7;
  color: #0A0F14;
  cursor: pointer;
}
.btn-white:hover {
  transform: scale(1.05);
  transition: all 0.1s;
}
.btn-white:active {
  transform: scale(0.95);
  transition: all 0.1s;
}

.btn-dark-blue {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-family: "Libre Baskerville", "Times New Roman", serif;
  transition: all 0.2s;
  background-color: #0A0F14;
  color: #FFE6D7;
  cursor: pointer;
}
.btn-dark-blue:hover {
  transform: scale(1.05);
  transition: all 0.1s;
}
.btn-dark-blue:active {
  transform: scale(0.95);
  transition: all 0.1s;
}

.btn-orange {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-family: "Libre Baskerville", "Times New Roman", serif;
  transition: all 0.2s;
  background-color: #BE6900;
  color: #0A0F14;
  cursor: pointer;
}
.btn-orange:hover {
  transform: scale(1.05);
  transition: all 0.1s;
}
.btn-orange:active {
  transform: scale(0.95);
  transition: all 0.1s;
}

.btn-brown {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-family: "Libre Baskerville", "Times New Roman", serif;
  transition: all 0.2s;
  background-color: #1E1E1E;
  color: #FFE6D7;
  cursor: pointer;
}
.btn-brown:hover {
  transform: scale(1.05);
  transition: all 0.1s;
}
.btn-brown:active {
  transform: scale(0.95);
  transition: all 0.1s;
}

/* Some modifiers for buttons */
.btn--w100 {
  width: 100%;
  text-align: center;
}
.btn--block {
  display: block;
}
.btn--centered {
  display: block;
  margin: auto;
}
.btn--big {
  font-size: 1.25rem;
}
.btn--color-brown {
  color: #1E1E1E;
}
.btn--no-transform:hover {
  transform: none;
}

.centerer {
  display: flex;
  justify-content: center;
}
.centerer--mt-3 {
  margin-top: 3rem;
}

.process-carousel__ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 1.5rem;
  overflow: hidden;
}
.process-carousel__li {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 20rem;
}
.process-carousel__img {
  width: 100%;
  border-radius: 10px;
}

.texture-picture {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  opacity: 0.05;
  pointer-events: none;
  user-select: none;
}

.texture-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.news-container {
  margin-bottom: 3rem;
}

.news-article__title {
  color: #1E1E1E;
  font-family: "Libre Baskerville", "Times New Roman", serif;
  font-size: 2.2rem;
}
.news-article__author {
  font-size: 1.2rem;
  color: #1E1E1E;
  font-family: "Libre Baskerville", "Times New Roman", serif;
  opacity: 0.8;
  font-weight: bold;
}
.news-article__body {
  display: flex;
  gap: 1.5rem;
  max-height: 20rem;
  overflow: hidden;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}
.news-article__text {
  position: relative;
  font-size: 1.1rem;
  text-align: justify;
  flex: 1;
}
.news-article__text::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 2;
  background-image: linear-gradient(rgba(0, 0, 0, 0), #FFE6D7);
}
.news-article__picture {
  border-radius: 20px;
  height: 20rem;
  max-width: 60%;
}
.news-article__img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio-images-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  margin-top: 1rem;
  width: 96%;
}

.portfolio-row {
  height: 30rem;
  display: flex;
  gap: 1rem;
}

.portfolio-picture-wrapper {
  position: relative;
  display: block;
  height: 100%;
  flex: 1;
  min-width: 10rem;
  width: auto;
  overflow: hidden;
}
.portfolio-picture-wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  z-index: 1;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.portfolio-picture-author {
  position: absolute;
  left: 0.75rem;
  bottom: 0.75rem;
  color: white;
  font-size: 1rem;
  z-index: 3;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.portfolio-row--1 .portfolio-picture-wrapper:nth-child(1) {
  flex: 23.6;
}

.portfolio-row--1 .portfolio-picture-wrapper:nth-child(2) {
  flex: 5.4;
}

.portfolio-row--1 .portfolio-picture-wrapper:nth-child(3) {
  flex: 17.2;
}

.portfolio-row--2 .portfolio-picture-wrapper:nth-child(1) {
  flex: 5.4;
}

.portfolio-row--2 .portfolio-picture-wrapper:nth-child(2) {
  flex: 17.2;
}

.portfolio-row--2 .portfolio-picture-wrapper:nth-child(3) {
  flex: 29;
}

.portfolio-row--3 .portfolio-picture-wrapper:nth-child(1) {
  flex: 17.2;
}

.portfolio-row--3 .portfolio-picture-wrapper:nth-child(2) {
  flex: 29;
}

.portfolio-row--3 .portfolio-picture-wrapper:nth-child(3) {
  flex: 10.8;
}

.portfolio-row--4 .portfolio-picture-wrapper:nth-child(1) {
  flex: 29;
}

.portfolio-row--4 .portfolio-picture-wrapper:nth-child(2) {
  flex: 10.8;
}

.portfolio-row--4 .portfolio-picture-wrapper:nth-child(3) {
  flex: 22.6;
}

.portfolio-row--5 .portfolio-picture-wrapper:nth-child(1) {
  flex: 10.8;
}

.portfolio-row--5 .portfolio-picture-wrapper:nth-child(2) {
  flex: 22.6;
}

.portfolio-row--5 .portfolio-picture-wrapper:nth-child(3) {
  flex: 4.4;
}

.portfolio-row--6 .portfolio-picture-wrapper:nth-child(1) {
  flex: 22.6;
}

.portfolio-row--6 .portfolio-picture-wrapper:nth-child(2) {
  flex: 4.4;
}

.portfolio-row--6 .portfolio-picture-wrapper:nth-child(3) {
  flex: 16.2;
}

.portfolio-row--7 .portfolio-picture-wrapper:nth-child(1) {
  flex: 4.4;
}

.portfolio-row--7 .portfolio-picture-wrapper:nth-child(2) {
  flex: 16.2;
}

.portfolio-row--7 .portfolio-picture-wrapper:nth-child(3) {
  flex: 28;
}

.portfolio-row--8 .portfolio-picture-wrapper:nth-child(1) {
  flex: 16.2;
}

.portfolio-row--8 .portfolio-picture-wrapper:nth-child(2) {
  flex: 28;
}

.portfolio-row--8 .portfolio-picture-wrapper:nth-child(3) {
  flex: 9.8;
}

.portfolio-row--9 .portfolio-picture-wrapper:nth-child(1) {
  flex: 28;
}

.portfolio-row--9 .portfolio-picture-wrapper:nth-child(2) {
  flex: 9.8;
}

.portfolio-row--9 .portfolio-picture-wrapper:nth-child(3) {
  flex: 21.6;
}

.portfolio-row--10 .portfolio-picture-wrapper:nth-child(1) {
  flex: 9.8;
}

.portfolio-row--10 .portfolio-picture-wrapper:nth-child(2) {
  flex: 21.6;
}

.portfolio-row--10 .portfolio-picture-wrapper:nth-child(3) {
  flex: 3.4;
}

.portfolio-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.login-form {
  position: absolute;
  width: 80%;
  max-width: 30rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.input-text {
  display: block;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.footer {
  background-color: #0A0F14;
  color: #FFE6D7;
  padding: 3rem;
}
.footer__credits {
  text-align: center;
  font-family: "Libre Baskerville", "Times New Roman", serif;
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}
.footer__copyright {
  text-align: center;
  font-size: 1.2rem;
  opacity: 0.7;
}

.about-whale-nav {
  display: flex;
  justify-content: center;
  align-items: start;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  height: fit-content;
  width: 90%;
  gap: 10%;
  overflow: visible;
  margin: auto;
  min-height: 100%;
  padding-top: 5rem;
}

.about-whale-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding-bottom: 7rem;
}
.about-whale-card__title {
  font-family: "Libre Baskerville", "Times New Roman", serif;
  color: #FFE6D7;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}
.about-whale-card__picture-wrapper {
  position: relative;
  width: 25rem;
  margin-bottom: 3rem;
}
.about-whale-card__picture {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 100%;
}
.about-whale-card__beam {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #FFE6D7;
  filter: blur(120px);
}
.about-whale-card__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.whale-skel {
  position: relative;
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.whale-skel__picture {
  height: 90%;
}
.whale-skel__img {
  height: 100%;
  width: 100%;
}
.whale-skel__button {
  height: 4rem;
  width: 4rem;
  border: none;
  border-radius: 50%;
  background-color: rgba(190, 105, 0, 0.7);
  position: absolute;
  cursor: pointer;
}
.whale-skel__button:hover {
  transform: scale(1.05);
  transition: all 0.1s;
}
.whale-skel__button:active {
  transform: scale(0.95);
  transition: all 0.1s;
}
.whale-skel__button--1 {
  left: 40%;
  top: auto;
}
.whale-skel__button--2 {
  left: 30%;
  bottom: 30%;
}
.whale-skel__button--3 {
  bottom: 30%;
}
.whale-skel__button--4 {
  left: 52%;
  bottom: 60%;
}

.bone-sheets-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(7rem, 1fr));
  gap: 2rem;
  margin-top: 4rem;
  height: fit-content;
}

.bone-sheet {
  display: block;
  position: relative;
  background-color: #464646;
  padding: 1rem;
  border-radius: 12px;
  position: relative;
}
.bone-sheet__img {
  width: 100%;
  height: 18rem;
  border-radius: 8px;
  object-fit: cover;
}
.bone-sheet__name {
  font-family: "Libre Baskerville", "Times New Roman", serif;
  color: #FFE6D7;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
}
.bone-sheet__weight {
  font-family: "Libre Baskerville", "Times New Roman", serif;
  color: #FFE6D7;
  font-size: 1.1rem;
  opacity: 0.6;
  margin-bottom: 0.5rem;
}
.bone-sheet__paragraph {
  position: relative;
  color: #FFE6D7;
  line-height: 1.3rem;
  height: 5rem;
  font-size: 1.2rem;
  overflow: hidden;
  margin-bottom: 1rem;
}
.bone-sheet__paragraph::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-image: linear-gradient(rgba(70, 70, 70, 0.1), #464646);
  z-index: 1;
  height: 100%;
}

.acc-menu-foreground {
  display: block;
  left: 0;
  top: 0;
  position: fixed;
  height: 100vh;
  height: 100svh;
  width: 100vw;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.3s;
}
.acc-menu-foreground--hidden {
  background-color: transparent;
  pointer-events: none;
}

.acc-menu {
  left: 0;
  top: 5rem;
  position: fixed;
  height: 100%;
  max-width: 25rem;
  z-index: 6;
  width: 80%;
  background-color: #FFE6D7;
  padding: 1rem;
  transform: none;
  transition: transform 0.4s;
}
.acc-menu__title {
  text-align: center;
}
.acc-menu__options-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-height: 70%;
  overflow-y: auto;
}
.acc-menu__input-wrapper {
  border: 2px solid #1E1E1E;
  margin-bottom: 1rem;
  padding: 0.7rem;
  border-radius: 7px;
}
.acc-menu__label {
  display: block;
  margin-bottom: 0.3rem;
}
.acc-menu__btn {
  padding: 10px;
  background-color: #192832;
  color: white;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}
.acc-menu__btn--disabled {
  opacity: 0.5;
}
.acc-menu__btn--fake-center img {
  transform: translateY(1px);
}
.acc-menu__range {
  width: 100%;
}
.acc-menu__select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #1E1E1E;
  border-radius: 4px;
}
.acc-menu__toggle-menu {
  position: absolute;
  right: 0;
  bottom: 20%;
  background-color: #192832;
  border: 0;
  transform: translate(100%);
  cursor: pointer;
}
.acc-menu__toggle-menu img {
  height: 3rem;
}
.acc-menu--hidden {
  transform: translateX(-100%);
}

@media screen and (max-width: 868px) {
  .section {
    padding: 2.5rem;
  }
  .section__body--reverse-flex {
    display: block;
  }
  .imgs-accordeon {
    height: 20rem;
    margin: auto;
    margin-top: 1rem;
  }
  .nav__links {
    margin: 0;
    position: absolute;
    flex-direction: column;
    justify-content: left;
    gap: 3rem;
    top: 5rem;
    right: 0;
    height: calc(100vh - 5rem);
    width: 20rem;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    transition: transform 0.2s;
    transform: none;
  }
  .nav__links--hidden {
    transform: translateX(100%);
  }
  .nav__li {
    height: fit-content;
    width: 70%;
    text-align: right;
    font-size: 1.5rem;
  }
  .nav__li:first-child {
    margin-top: 5rem;
  }
  .nav__li__link {
    width: fit-content;
  }
  .nav-hamburger {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    height: 3rem;
    background-color: transparent;
    border: none;
  }
  .nav-hamburger__img {
    height: 100%;
    width: 100%;
  }
  .bone-sheets-container {
    grid-template-columns: repeat(2, minmax(7rem, 1fr));
  }
}
@media screen and (max-width: 576px) {
  .section {
    padding: 1.5rem;
  }
  .imgs-accordeon {
    height: 20rem;
    width: 95%;
    margin: auto;
    margin-top: 1rem;
  }
  .news-article__body {
    display: flex;
    flex-direction: column-reverse;
    max-height: initial;
  }
  .news-article__text {
    max-height: 20rem;
  }
  .news-article__picture {
    max-width: initial;
  }
  .mobile-centerer {
    display: flex;
    justify-content: center;
  }
  .portfolio-images-wrapper {
    gap: 0;
  }
  .portfolio-row {
    display: block;
    height: initial;
  }
  .portfolio-picture {
    display: block;
    margin-bottom: 0.5rem;
  }
  .about-whale-nav {
    display: block;
  }
  .about-whale-card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .about-whale-card__picture-wrapper {
    width: 100%;
    height: auto;
  }
  /* The picture is too horizontal to be visually pleasant on mobile */
  .whale-skel,
  .hero--hide-on-mobile {
    display: none;
  }
  .bone-sheets-container {
    grid-template-columns: repeat(1, minmax(7rem, 1fr));
  }
}

/*# sourceMappingURL=styles.css.map */
