@import "./vars.scss";
@import "./mixins.scss";


/* I was going to customize the scrollbar, but then I came up with this article: https://www.nngroup.com/articles/scrolling-and-scrollbars/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: mix($white, black, 90%);
    border-radius: 40px;
}

::-webkit-scrollbar-thumb {
    background: $brown;
    border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover {
    background: darken($brown, 30%);
} */



.nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 12;
    width: 100vw;
    height: 5rem;
    padding: .5rem;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, .8);

    &__logo {
        height: 100%;
    }

    &__links {
        @include horizontal-ul($height: 100%, $width: auto, $justify_content: auto, $align_items: center, $gap: 5rem, $overflow: hidden, );
        margin-right: 3rem;
    }

    &__li {
        position: relative;
        overflow: hidden;
        height: 70%;
        height: fit-content;

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: $white;
            transform: translateY(100%);
            pointer-events: none;
            transition: transform .3s;
            z-index: -1;
        }

        &:hover a {
            color: $dark_blue;
        }

        &:hover::before {
            transform: none;
        }
    }

    &__link {
        align-content: center;
        display: block;
        height: 100%;
        color: $white;
        text-decoration: none;
        transform-origin: left;
        transition: all .2s;
    }
}

.nav-hamburger {
    display: none;
}


.footer {
    background-color: $dark_blue;
    color: $white;
    padding: 3rem;

    &__credits {
        display: block;
        color: white;
        text-decoration: none;
        text-align: center;
        font-family: $font_serif;
        font-size: 1.5rem;
        margin-bottom: .7rem;
    }

    &__copyright {
        text-align: center;
        font-size: 1.2rem;
        opacity: .7;
    }
}

@media screen and (max-width: $breakpoint_tablet) {
    .nav {
        &__links {
            margin: 0;
            position: absolute;
            flex-direction: column;
            justify-content: left;
            gap: 3rem;
            top: 5rem;
            right: 0;
            height: calc(100vh - 5rem);
            width: 20rem;
            max-width: 100%;
            background-color: rgba(0, 0, 0, .8);
            backdrop-filter: blur(10px);
            transition: transform .2s;
            transform: none;

            &--hidden {
                transform: translateX(100%);
            }
        }

        &__li {
            height: fit-content;
            width: 70%;
            text-align: right;
            font-size: 1.5rem;

            &:first-child {
                margin-top: 5rem;
            }

            &__link {
                width: fit-content;
            }
        }
    }

    .nav-hamburger {
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        right: 2rem;
        height: 3rem;
        background-color: transparent;
        border: none;

        &__img {
            height: 100%;
            width: 100%;
        }
    }


}


.acc-menu-foreground {
    @include foreground;
}

.acc-menu {
    left: 0;
    top: 5rem;
    position: fixed;
    height: 100%;
    max-width: 25rem;
    z-index: 12;
    width: 80%;
    background-color: $white;
    padding: 1rem;
    transform: none;
    transition: transform .4s;

    &__title {
        text-align: center;
    }

    &__options-container {
        margin-top: 1rem;
        margin-bottom: 1rem;
        max-height: 70%;
        overflow-y: auto;
    }

    &__input-wrapper {
        border: 2px solid $brown;
        margin-bottom: 1rem;
        padding: .7rem;
        border-radius: 7px;
    }

    &__label {
        display: block;
        margin-bottom: .3rem;
    }

    &__btn {
        padding: 10px;
        background-color: $blue;
        color: white;
        border: 0;
        border-radius: 6px;
        cursor: pointer;

        &--disabled {
            opacity: .5;
        }

        &--fake-center img {
            transform: translateY(1px);
        }
    }

    &__range {
        width: 100%;
    }

    &__select {
        width: 100%;
        padding: .5rem;
        border: 1px solid $brown;
        border-radius: 4px;
    }

    &__toggle-menu {
        position: absolute;
        right: 0;
        bottom: 20%;
        background-color: $blue;
        border: 0;
        transform: translate(100%);
        cursor: pointer;

        & img {
            height: 3rem;
        }
    }



    &--hidden {
        transform: translateX(-100%);
    }
}