@font-face {
    font-family: "Libre Baskerville";
    src: url("/diw-whale-project/assets/fonts/libre-baskerville-regular.woff2");
    src: url("/diw-whale-project/assets/fonts/libre-baskerville-regular.woff");
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("/diw-whale-project/assets/fonts/plus-jakarta-sans-regular.woff2");
    src: url("/diw-whale-project/assets/fonts/plus-jakarta-sans-regular.woff");
}