@mixin button($background_color, $color, $font_family: $font_serif) {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    padding: .9rem 1.8rem;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-family: $font_family;
    transition: all .2s;
    background-color: $background_color;
    color: $color;

    @include clickable-element;
}

@mixin clickable-element {
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
        transition: all .1s;
    }

    &:active {
        transform: scale(.95);
        transition: all .1s;
    }
}

/* If we need an unestilized horizontal ul, such as a navbar links container. It could be useful for carousels as well. */
@mixin horizontal-ul($height, $width, $justify_content, $align_items, $gap, $overflow: hidden, $padding: 0, $margin: 0) {
    display: flex;
    justify-content: $justify_content;
    align-items: $align_items;
    list-style-type: none;
    flex-wrap: wrap;
    padding: $padding;
    margin: $margin;
    height: $height;
    width: $width;
    gap: $gap;
    overflow: $overflow;
}

@mixin title($font_size) {
    font-family: $font_serif;
    color: $white;
    font-size: $font_size;
}

@mixin gradient-overlay($start_color: rgba(0, 0, 0, 0), $end_color: rgba(0, 0, 0, 1)) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-image: linear-gradient($start_color, $end_color);
    z-index: 1;
}

@mixin foreground {
    display: block;
    left: 0;
    top: 0;
    position: fixed;
    height: 100vh;
    height: 100svh;
    width: 100vw;
    z-index: 11;
    background-color: rgba(0, 0, 0, .7);
    transition: background-color .3s;

    &--hidden {
        background-color: transparent;
        pointer-events: none;
    }
}