@import "./commons.scss";

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font_sans;
    font-weight: 100;
    accent-color: rgba(0, 0, 0, 0);

    /* We need to declare them both to make accessibility panel work */
    letter-spacing: .05em;
    word-spacing: .15em;
}

body {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

// I always like to make the imgs not selectable
img {
    user-select: none;
    pointer-events: none;
}


.hero {
    position: relative;
    min-height: 100vh;
    min-height: 100svh;
    padding-top: 5rem;

    &__title {
        @include title($font_size: 3.5rem);
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 3rem;
        width: 80%;

        &--centered {
            margin-left: 0;
            width: 100%;
            text-align: center;
        }
    }

    &__subtitle {
        @include title(2rem);
        margin-left: 3rem;
        opacity: .5;
        margin-top: -1rem;
    }

    &__portfolio-picture-wrapper {
        position: relative;
        display: block;
        margin: auto;
        height: 93%;
        width: 96%;
        border-radius: 15px;
        margin-bottom: 3rem;

        &::before {
            @include gradient-overlay;
            border-bottom-right-radius: 12px;
            border-bottom-left-radius: 12px;
        }
    }

    &__portfolio-picture,
    &__portfolio-img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: inherit;
    }

    &__portfolio-picture-author {
        position: absolute;
        left: 1rem;
        bottom: 1rem;
        color: white;
        font-size: 1rem;
        z-index: 3;
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &--blue {
        background-color: $dark_blue;
    }
}

.main {
    &--blue {
        background-color: $dark_blue;
    }

    &--h100 {
        min-height: 100vh;
    }
}

.whale-viewer-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
}

.whale-viewer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
}

// Hide the whale's ui button($white, $dark_blue)s & stuff
.whale-viewer-ui-hidder {
    position: absolute;
    width: 100vw;
    z-index: 2;

    &--1 {
        background-color: $dark_blue;
        top: 0;
        left: 0;
        height: 4rem;
    }

    &--2 {
        height: 3rem;
        bottom: 0;
        left: 0;
        background-color: $dark_blue;
    }
}


.scroll-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3rem;
    color: white;
    transition: all .2s;
    animation: scroll-btn-animation 4s ease 2s infinite normal forwards;


    &__img {
        height: 4rem;
    }

    &:hover {
        transform: translateX(-50%) scale(1.1);
    }

    &:active {
        transform: translateX(-50%) scale(.95);
    }

    @keyframes scroll-btn-animation {

        30%,
        100% {
            transform: translateX(-50%) translateY(0);
        }

        37%,
        51%,
        65%,
        79% {
            transform: translateX(-50%) translateY(-4px);
        }

        44%,
        58%,
        72% {
            transform: translateX(-50%) translateY(4px);
        }

        86% {
            transform: translateX(-50%) translateY(1px);
        }

        93% {
            transform: translateX(-50%) translateY(-1px);
        }
    }
}

.main-page-gradient {
    background-color: $dark_blue;
}

.main--inverted .section {
    background-color: $white;
}

.section {
    position: relative;
    padding: 8rem;
    padding-top: 6rem;

    &__title {
        font-family: $font_serif;
        color: $white;
        font-size: 3.5rem;
        margin-bottom: 1.5rem;

        &--brown {
            color: $brown;
        }

        &--dark-blue {
            color: $dark_blue;
        }

        &--mt-5 {
            margin-top: 5rem;
        }

        &--centered {
            text-align: center;
        }
    }

    &__body {
        &--reverse-flex {
            display: flex;
            flex-direction: row-reverse;
            margin: auto;
            justify-content: space-between;
            gap: 5%;
        }
    }

    &--white {
        background-color: $white;
    }
}

.paragraph {
    text-align: justify;
    color: white;
    font-size: 1.1rem;
    line-height: 2.2rem;
}

.paragraph--flex-1 {
    flex: 1;
}

.imgs-accordeon {
    display: block;
    width: 25rem;
    position: relative;
    flex: 1;

    &__img {
        border-radius: 12px;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        transition: all .3s;

        &--1 {
            z-index: 3;
            opacity: 1;
        }

        &--2 {
            z-index: 2;
            opacity: .6;
            transform: scale(.95) translateY(7%);
        }

        &--3 {
            z-index: 1;
            opacity: .3;
            transform: scale(.9) translateY(14%);
        }
    }

    &:hover .imgs-accordeon__img--2,
    &:hover .imgs-accordeon__img--3 {
        z-index: 0;
        transform: none;
    }

    &:hover .imgs-accordeon__img--1 {
        transform: scale(1.05);

    }

}

.flex-1 {
    flex: 1;
}


.btn-white {
    @include button($white, $dark_blue);
}

.btn-secondary {
    @include button($white, $dark_blue);
    border: 1px solid $dark_blue;
}

.btn-dark-blue {
    @include button($dark_blue, $white);
}

.btn-orange {
    @include button($orange, $dark_blue);
}

.btn-brown {
    @include button($brown, $white);
}


/* Some modifiers for buttons */
.btn {
    &--w100 {
        width: 100%;
        text-align: center;
    }

    &--block {
        display: block;
    }

    &--centered {
        display: block;
        margin: auto;
    }

    &--big {
        font-size: 1.25rem;
    }

    &--color-brown {
        color: $brown;
    }

    &--no-transform {
        &:hover {
            transform: none;
        }
    }

    &--login {
        margin-bottom: 1rem;
    }
}


.centerer {
    display: flex;
    justify-content: center;

    &--mt-3 {
        margin-top: 3rem;
    }
}

.process-carousel {
    &__ul {
        //@include horizontal-ul($height: auto, $gap: 1.5rem, $overflow: hidden,);
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        //height: 24rem;
        gap: 1.5rem;
        overflow: hidden;
    }

    &__li {
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: 20rem;
    }

    &__img {
        width: 100%;
        border-radius: 10px;
    }
}

.texture-picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    opacity: .05;
    pointer-events: none;
    user-select: none;
}

.texture-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.news-container {
    margin-bottom: 3rem;
}

.news-article {
    &__title {
        color: $brown;
        font-family: $font_serif;
        font-size: 2.2rem;
    }

    &__author {
        font-size: 1.2rem;
        color: $brown;
        font-family: $font_serif;
        opacity: .8;
        font-weight: bold;
    }

    &__body {
        display: flex;
        gap: 1.5rem;
        max-height: 20rem;
        overflow: hidden;
        margin-top: .75rem;
        margin-bottom: .5rem;
    }

    &__text {
        position: relative;
        font-size: 1.1rem;
        text-align: justify;
        flex: 1;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%;
            z-index: 2;
            background-image: linear-gradient(rgba(0, 0, 0, 0), $white);
        }
    }

    &__picture {
        border-radius: 20px;
        height: 20rem;
        max-width: 60%;
    }

    &__img {
        border-radius: 20px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.portfolio-images-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    margin-top: 1rem;
    width: 96%;
}

.portfolio-row {
    height: 30rem;
    display: flex;
    gap: 1rem;
}

.portfolio-picture-wrapper {
    position: relative;
    display: block;
    height: 100%;
    flex: 1;
    min-width: 10rem;
    width: auto;
    overflow: hidden;


    &::before {
        @include gradient-overlay;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
    }
}

.portfolio-picture-author {
    position: absolute;
    left: .75rem;
    bottom: .75rem;
    color: white;
    font-size: 1rem;
    z-index: 3;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


// Generate some classes with variable widths, playing with "flex" property
@for $j from 1 through 10 {
    @for $i from 1 through 3 {
        .portfolio-row--#{$j} .portfolio-picture-wrapper:nth-child(#{$i}) {
            flex: #{(161.8 * ($j + $i)) % (30)};
        }
    }
}

.portfolio-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}


.form {
    position: relative;
    
    &--centered {
        transform: translate(-50%, -50%);
        max-width: 30rem;
        width: 80%;
        position: absolute;
        left: 50%;
        top: 50%;
    }

    &--small {
        display: block;
        margin: auto;
        width: 50%;
        min-width: 500px;
    }

    &--over-white {
        .input-text {
            border: 2px solid $dark_blue;
        }

        .form__label {
            color: $dark_blue;
        }

        .form__error-msg {
            color: rgb(70, 17, 17);
        }
    }

    &__control {
        position: relative;
        padding-bottom: .5rem;
        margin-bottom: 1rem;

        &--last {
            margin-bottom: 3rem;
        }

        &--correct input {
            border: 2px solid green;
        }

        &--incorrect input {
            border: 2px solid red;
        }
    }

    &__fieldset {
        border: 2px solid $dark_blue;
        border-radius: 12px;
        padding: 1.2rem;
        margin-bottom: 5rem;
    }

    &__legend {
        font-size: 1.2rem;
        padding: .5rem;
        background-color: $white;
    }

    &__button-wrapper {
        position: relative;
        padding-bottom: .5rem;
    }

    &__label {
        display: block;
        color: $white;
        font-size: 1.2rem;
        margin-bottom: .5rem;
    }

    &__error-msg {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 3;
        color: rgb(255, 186, 186);
    }
}

.input-text {
    display: block;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.input-checkbox {
    transform: scale(1.8);
    accent-color: $blue;
    margin-right: .8rem;
}

.about-whale-nav {
    @include horizontal-ul($height: fit-content, $width: 90%, $justify_content: center, $overflow: visible, $align_items: start, $gap: 10%);
    margin: auto;
    min-height: 100%;
    padding-top: 5rem;
}

.about-whale-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-bottom: 7rem;

    &__title {
        @include title($font_size: 3rem);
        text-align: center;
        margin-bottom: 1rem;
    }

    &__picture-wrapper {
        position: relative;
        width: 25rem;
        margin-bottom: 3rem;
    }

    &__picture {
        position: relative;
        z-index: 2;
        display: inline-block;
        width: 100%;
    }

    &__beam {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: $white;
        filter: blur(120px);
    }

    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}


.whale-skel {
    position: relative;
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    &__picture {
        height: 90%;
    }

    &__img {
        height: 100%;
        width: 100%;
    }

    &__button {
        height: 4rem;
        width: 4rem;
        border: none;
        border-radius: 50%;
        background-color: rgba($orange, .7);
        position: absolute;

        @include clickable-element;

        &--1 {
            left: 40%;
            top: auto;
        }

        &--2 {
            left: 30%;
            bottom: 30%;
        }

        &--3 {
            bottom: 30%;
        }

        &--4 {
            left: 52%;
            bottom: 60%;
        }
    }
}

.bone-sheets-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, minmax(7rem, 1fr));
    gap: 2rem;
    margin-top: 4rem;
    height: fit-content;
}

.bone-sheet {
    display: block;
    position: relative;
    background-color: $gray;
    padding: 1rem;
    border-radius: 12px;
    position: relative;

    &__img {
        width: 100%;
        height: 18rem;
        border-radius: 8px;
        object-fit: cover;
    }

    &__name {
        @include title(2rem);
        margin-top: 1rem;
        margin-bottom: .4rem;
    }

    &__weight {
        @include title(1.1rem);
        opacity: .6;
        margin-bottom: .5rem;
    }

    &__paragraph {
        position: relative;
        color: $white;
        line-height: 1.3rem;
        height: 5rem;
        font-size: 1.2rem;
        overflow: hidden;
        margin-bottom: 1rem;

        &::before {
            @include gradient-overlay(rgba($gray, .1), $gray);
            height: 100%;
        }
    }
}

.display-bone {
    position: fixed;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 5vh));
    transition: transform .4s;
    z-index: 3;
    width: 90%;
    max-width: 80rem;
    background-color: $white;
    border-radius: 15px;
    overflow: hidden;
    min-height: 25rem;
    align-items: stretch;

    &--hidden {
        transform: translate(-50%, calc(-100% - 100vh));
    }

    &__img {
        width: 50%;
        object-fit: cover;
    }

    &__info {
        padding: 1.5rem;
        box-sizing: border-box;
    }

    &__name {
        font-family: $font_serif;
        color: $dark_blue;
        font-size: 2rem;
    }

    &__metadata {
        font-family: $font_serif;
        color: $brown;
        font-size: 1.2rem;
        opacity: .8;
    }

    &__sections {
        display: flex;
        flex-direction: column;
        margin-top: 1.5em;
        gap: 1.5rem;
        max-height: 60vh;
        overflow-y: auto;
        padding: .7rem;
        border-radius: 10px;
    }

    &__section-title {
        color: $blue;
        font-size: 1.3rem;
        font-family: $font_serif;
        margin-bottom: .5rem;
    }

    &__paragraph {
        font-size: 1.1rem;
        line-height: 1.5em;
        color: $brown;
    }
}

.display-bone-foreground {
    @include foreground;
}


@media screen and (max-width: $breakpoint_tablet) {
    .section {
        padding: 2.5rem;

        &__body {
            &--reverse-flex {
                display: block;
            }
        }
    }

    .imgs-accordeon {
        height: 20rem;
        margin: auto;
        margin-top: 1rem;
    }

    .bone-sheets-container {
        grid-template-columns: repeat(2, minmax(7rem, 1fr));
    }

    .display-bone {
        flex-direction: column;
        align-items: stretch;

        &__img {
            width: auto;
            height: 15rem;
        }

        &__sections {
            max-height: 30vh;
            border: 2px solid $blue;
        }
    }

}

@media screen and (max-width: $breakpoint_mobile) {
    .section {
        padding: 1.5rem;
    }


    .imgs-accordeon {
        height: 20rem;
        width: 95%;
        margin: auto;
        margin-top: 1rem;
    }

    .news-article {
        &__body {
            display: flex;
            flex-direction: column-reverse;
            max-height: initial;
        }

        &__text {
            max-height: 20rem;
        }

        &__picture {
            max-width: initial;
        }

    }

    .mobile-centerer {
        display: flex;
        justify-content: center;
    }

    .portfolio-images-wrapper {
        gap: 0;
    }

    .portfolio-row {
        display: block;
        height: initial;
    }

    .portfolio-picture {
        display: block;
        margin-bottom: .5rem;
    }

    .about-whale-nav {
        display: block;
    }

    .about-whale-card {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        &__picture-wrapper {
            width: 100%;
            height: auto;
        }
    }

    /* The picture is too horizontal to be visually pleasant on mobile */
    .whale-skel,
    .hero--hide-on-mobile {
        display: none;
    }

    .bone-sheets-container {
        grid-template-columns: repeat(1, minmax(7rem, 1fr));
    }
}