@import "./vars.scss";
@import "./mixins.scss";

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font_sans;
    font-weight: 100;
    accent-color: rgba(0, 0, 0, 0);
}

body {
    width: 100%;
    overflow-x: hidden;
}

// I always like to make the imgs not selectable
img {
    user-select: none;
    pointer-events: none;
}

.nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 8;
    width: 100vw;
    height: 5rem;
    padding: .5rem;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, .3);

    &__logo {
        height: 100%;
    }

    &__links {
        @include horizontal-ul($height: 100%, $width: auto, $justify_content: auto, $align_items: center, $gap: 5rem, $overflow: hidden,);
        margin-right: 3rem;
    }

    &__li {
        height: 70%;

        &:hover .nav__link {
            transform: rotate(-5deg);
            transform-origin: 0;
        }

        &:active .nav__link {
            transform-origin: 100%;
            transform: rotate(5deg)
        }
    }

    &__link {
        align-content: center;
        display: block;
        height: 100%;
        color: $white;
        text-decoration: none;
        transform-origin: left;
        transition: all .2s;
    }
}

.nav-hamburger {
    display: none;
}

.hero {
    position: relative;
    min-height: 100vh;
    min-height: 100svh;
    padding-top: 5rem;

    &__title {
        @include title($font_size: 3.5rem);
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 3rem;
        width: 80%;

        &--centered {
            margin-left: 0;
            width: 100%;
            text-align: center;
        }
    }

    &__portfolio-picture-wrapper {
        display: block;
        margin: auto;
        height: 93%;
        width: 96%;
    }

    &__portfolio-picture,
    &__portfolio-img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: inherit;
    }
}

.main {
    &--blue {
        background-color: $dark_blue;
    }

    &--h100 {
        min-height: 100vh;
    }
}

.whale-viewer-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
}

.whale-viewer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
}

// Hide the whale's ui button($white, $dark_blue)s & stuff
.whale-viewer-ui-hidder {
    position: absolute;
    width: 100vw;
    z-index: 2;

    &--1 {
        background-color: #18262F;
        top: 0;
        left: 0;
        height: 4rem;
    }

    &--2 {
        height: 3rem;
        bottom: 0;
        left: 0;
        background-color: #111B22;
    }
}


.scroll-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3rem;
    color: white;
    transition: all .2s;

    &__img {
        height: 4rem;
    }

    &:hover {
        transform: translateX(-50%) scale(1.1);
    }

    &:active {
        transform: translateX(-50%) scale(.95);
    }
}

.main-page-gradient {
    background-image: linear-gradient(180deg, $blue, $dark_blue);
}

.section {
    position: relative;
    padding: 8rem;
    padding-top: 6rem;

    &__title {
        font-family: $font_serif;
        color: $white;
        font-size: 3.5rem;
        margin-bottom: 1.5rem;

        &--brown {
            color: $brown;
        }
    }

    &__body {
        &--reverse-flex {
            display: flex;
            flex-direction: row-reverse;
            margin: auto;
            justify-content: space-between;
            gap: 5%;
        }
    }

    &--white {
        background-color: $white;
    }
}

.paragraph {
    text-align: justify;
    color: white;
    font-size: 1.1rem;
    line-height: 2.2rem;
}

.paragraph--flex-1 {
    flex: 1;
}

.imgs-accordeon {
    display: block;
    width: 25rem;
    position: relative;
    flex: 1;

    &__img {
        border-radius: 12px;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        transition: all .3s;

        &--1 {
            z-index: 3;
            opacity: 1;
        }

        &--2 {
            z-index: 2;
            opacity: .6;
            transform: scale(.95) translateY(7%);
        }

        &--3 {
            z-index: 1;
            opacity: .3;
            transform: scale(.9) translateY(14%);
        }
    }

    &:hover .imgs-accordeon__img--2,
    &:hover .imgs-accordeon__img--3 {
        z-index: 0;
        transform: none;
    }

    &:hover .imgs-accordeon__img--1 {
        transform: scale(1.05);

    }

}

.flex-1 {
    flex: 1;
}

/* Some modifiers for buttons */
.btn {
    &--w100 {
        width: 100%;
    }

    &--block {
        display: block;
    }

    &--centered {
        display: block;
        margin: auto;
    }

    &--big {
        font-size: 1.25rem;
    }
}

.btn-white {
    @include button($white, $dark_blue);
}

.btn-dark-blue {
    @include button($dark_blue, $white);
}

.btn-orange {
    @include button($orange, $dark_blue);
}

.centerer {
    display: flex;
    justify-content: center;

    &--mt-3 {
        margin-top: 3rem;
    }
}

.process-carousel {
    &__ul {
        //@include horizontal-ul($height: auto, $gap: 1.5rem, $overflow: hidden,);
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        //height: 24rem;
        gap: 1.5rem;
        overflow: hidden;
    }

    &__li {
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: 20rem;
    }

    &__img {
        width: 100%;
        border-radius: 10px;
    }
}

.texture-picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    opacity: .05;
    pointer-events: none;
    user-select: none;
}

.texture-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.news-container {
    margin-bottom: 3rem;
}

.news-article {
    &__title {
        color: $brown;
        font-family: $font_serif;
        font-size: 2.2rem;
    }

    &__author {
        font-size: 1.2rem;
        color: $brown;
        font-family: $font_serif;
        opacity: .8;
        font-weight: bold;
    }

    &__body {
        display: flex;
        gap: 1.5rem;
        max-height: 20rem;
        overflow: hidden;
        margin-top: .75rem;
        margin-bottom: .5rem;
    }

    &__text {
        position: relative;
        font-size: 1.1rem;
        text-align: justify;
        flex: 1;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%;
            z-index: 2;
            background-image: linear-gradient(rgba(0, 0, 0, 0), $white);
        }
    }

    &__picture {
        border-radius: 20px;
        height: 20rem;
        max-width: 60%;
    }

    &__img {
        border-radius: 20px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.portfolio-images-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    margin-top: 1rem;
    width: 96%;
}

.portfolio-row {
    height: 30rem;
    display: flex;
    gap: 1rem;
}

.portfolio-picture-wrapper {
    position: relative;
    display: block;
    height: 100%;
    flex: 1;
    min-width: 10rem;
    width: auto;
    overflow: hidden;


    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60%;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        z-index: 1;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
    }
}

.portfolio-picture-author {
    position: absolute;
    left: .75rem;
    bottom: .75rem;
    color: white;
    font-size: 1rem;
    z-index: 3;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


// Generate some classes with variable widths, playing with "flex" property
@for $j from 1 through 10 {
    @for $i from 1 through 3 {
        .portfolio-row--#{$j} .portfolio-picture-wrapper:nth-child(#{$i}) {
            flex: #{(161.8 * ($j + $i)) % (30)};
        }
    }
}

.portfolio-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}


.login-form {
    position: absolute;
    width: 80%;
    max-width: 30rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.input-text {
    display: block;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
}


.footer {
    background-color: $dark_blue;
    color: $white;
    padding: 3rem;

    &__credits {
        text-align: center;
        font-family: $font_serif;
        font-size: 1.5rem;
        margin-bottom: .7rem;
    }

    &__copyright {
        text-align: center;
        font-size: 1.2rem;
        opacity: .7;
    }
}


.about-whale-nav {
    @include horizontal-ul($height: fit-content, $width: 90%, $justify_content: center, $overflow: visible, $align_items: start, $gap: 10%);
    margin: auto;
    min-height: 100%;
    padding-top: 5rem;
}

.about-whale-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-bottom: 7rem;
    
    &__title {
        @include title($font_size: 3rem);
        text-align: center;
        margin-bottom: 1rem;
    }

    &__picture-wrapper {
        position: relative;
        width: 25rem;
        margin-bottom: 3rem;
    }
    
    &__picture {
        position: relative;
        z-index: 2;
        display: inline-block;
        width: 100%;
    }

    &__beam {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: $white;
        filter: blur(120px);
    }

    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

















@media screen and (max-width: $breakpoint_tablet) {
    .section {
        padding: 2.5rem;

        &__body {
            &--reverse-flex {
                display: block;
            }
        }
    }

    .imgs-accordeon {
        height: 20rem;
        margin: auto;
        margin-top: 1rem;
    }

    .nav {
        &__links {
            margin: 0;
            position: absolute;
            flex-direction: column;
            justify-content: left;
            gap: 3rem;
            top: 5rem;
            right: 0;
            height: calc(100vh - 5rem);
            width: 20rem;
            max-width: 100%;
            background-color: rgba(0, 0, 0, .8);
            backdrop-filter: blur(10px);
            transition: transform .2s;
            transform: none;

            &--hidden {
                transform: translateX(100%);
            }
        }

        &__li {
            height: fit-content;
            width: 70%;
            text-align: right;
            font-size: 1.5rem;

            &:first-child {
                margin-top: 5rem;
            }

            &__link {
                width: fit-content;
            }
        }
    }

    .nav-hamburger {
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        right: 2rem;
        height: 3rem;
        background-color: transparent;
        border: none;

        &__img {
            height: 100%;
            width: 100%;
        }
    }

}

@media screen and (max-width: $breakpoint_mobile) {
    .section {
        padding: 1.5rem;
    }


    .imgs-accordeon {
        height: 20rem;
        width: 95%;
        margin: auto;
        margin-top: 1rem;
    }

    .news-article {
        &__body {
            display: flex;
            flex-direction: column-reverse;
            max-height: initial;
        }

        &__text {
            max-height: 20rem;
        }

        &__picture {
            max-width: initial;
        }

    }

    .mobile-centerer {
        display: flex;
        justify-content: center;
    }

    .portfolio-images-wrapper {
        gap: 0;
    }

    .portfolio-row {
        display: block;
        height: initial;
    }

    .portfolio-picture {
        display: block;
        margin-bottom: .5rem;
    }

    .about-whale-nav {
        display: block;
    }

    .about-whale-card {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        &__picture-wrapper {
            width: 100%;
            height: auto;
        }
    }
}