<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panell d'administració</title>

    <link rel="stylesheet" href="/diw-whale-project/css/styles.css">
    <link rel="stylesheet" href="/diw-whale-project/css/admin-panel.css">
</head>

<body>
    <nav id="nav" class="nav">
        <button class="nav-hamburger" id="expand-nav-btn">
            <img src="/diw-whale-project/assets/icons/menu.svg" alt="Hamburger" class="nav-hamburger__img">
        </button>

        <!-- I'll use this structure because it can handle webp images with a fallback -->
        <!-- https://stackoverflow.com/questions/65529016/webp-fallback-for-img-tag-in-html -->
        <a href="/diw-whale-project/views/index.html">
            <picture>
                <source type="image/webp" srcset="/diw-whale-project/assets/imgs/logo-w-portrait.webp">
                <img class="nav__logo" src="/diw-whale-project/assets/imgs/logo-w-portrait.png" alt="Logo Portrait">
            </picture>
        </a>

        <ul class="nav__links nav__links--hidden" id="nav-links">
            <li class="nav__li"><a href="/diw-whale-project/views/index.html" class="nav__link">Inici</a></li>
            <li class="nav__li"><a href="/diw-whale-project/views/about-balena.html" class="nav__link">Sobre la
                    balena</a></li>
            <li class="nav__li"><a href="/" class="nav__link">Història</a></li>
            <li class="nav__li"><a href="/diw-whale-project/views/portfolio.html" class="nav__link">Procés</a></li>
            <li class="nav__li"><a href="/diw-whale-project/views/noticies.html" class="nav__link">Notícies</a></li>
            <li class="nav__li"><a href="/diw-whale-project/views/login.html" class="nav__link">Login</a></li>
        </ul>
    </nav>

    <div class="admin-panel-wrapper">
        <nav class="admin-panel-nav">
            <h2 class="admin-panel-nav__title">Panell d'administració</h2>

            <a href="?page=usersList" class="admin-panel-nav__link">Usuaris</a>
            <a href="?page=articlesList" class="admin-panel-nav__link">Notícies</a>
            <a href="?page=bonesList" class="admin-panel-nav__link">Fitxes d'ossos</a>
            <a href="?page=logout" class="admin-panel-nav__link admin-panel-nav__link--last">Tanca la sessió</a>
        </nav>

        <main id="admin-panel" class="main main--white main--h100"></main>
    </div>

    <div class="acc-menu-foreground acc-menu-foreground--hidden" id="acc-menu-foreground">
    </div>
    <aside class="acc-menu acc-menu--hidden" id="acc-menu">
        <h2 class="acc-menu__title">Opcions d'accessibilitat</h2>
        <article class="acc-menu__options-container">
            <fieldset class="acc-menu__input-wrapper">
                <legend class="acc-menu__label" for="acc-set-font-size">Tamany de lletra</legend>
                <div class="acc-menu__bts-wrapper">
                    <button class="acc-menu__btn acc-menu__btn--fake-center" id="acc-dec-font-size"><img
                            src="/diw-whale-project/assets/icons/minus.svg"
                            alt="Icona de disminuir tamany de lletra" /></button>
                    <button class="acc-menu__btn" id="acc-inc-font-size"><img
                            src="/diw-whale-project/assets/icons/plus.svg"
                            alt="Icona de augmentar tamany de lletra" /></button>
                </div>
            </fieldset>
            <fieldset class="acc-menu__input-wrapper">
                <label class="acc-menu__label" for="acc-set-line-height">Interlineat</label>
                <div class="acc-menu__bts-wrapper">
                    <button class="acc-menu__btn acc-menu__btn--fake-center" id="acc-dec-line-height"><img
                            src="/diw-whale-project/assets/icons/minus.svg"
                            alt="Icona de disminuir interlineat" /></button>
                    <button class="acc-menu__btn" id="acc-inc-line-height"><img
                            src="/diw-whale-project/assets/icons/plus.svg"
                            alt="Icona de augmentar interlineat" /></button>
                </div>
            </fieldset>
            <fieldset class="acc-menu__input-wrapper">
                <label class="acc-menu__label" for="acc-set-word-spacing">Espaiat entre paraules</label>
                <div class="acc-menu__bts-wrapper">
                    <button class="acc-menu__btn acc-menu__btn--fake-center" id="acc-dec-word-spacing"><img
                            src="/diw-whale-project/assets/icons/minus.svg"
                            alt="Icona de disminuir espaiat entre paraules" /></button>
                    <button class="acc-menu__btn" id="acc-inc-word-spacing"><img
                            src="/diw-whale-project/assets/icons/plus.svg"
                            alt="Icona de augmentar espaiat entre paraules" /></button>
                </div>
            </fieldset>
            <fieldset class="acc-menu__input-wrapper">
                <label class="acc-menu__label" for="acc-set-letter-spacing">Espaiat entre lletres</label>
                <div class="acc-menu__bts-wrapper">
                    <button class="acc-menu__btn acc-menu__btn--fake-center" id="acc-dec-letter-spacing"><img
                            src="/diw-whale-project/assets/icons/minus.svg"
                            alt="Icona de disminuir espaiat entre paraules" /></button>
                    <button class="acc-menu__btn" id="acc-inc-letter-spacing"><img
                            src="/diw-whale-project/assets/icons/plus.svg"
                            alt="Icona de augmentar espaiat entre paraules" /></button>
                </div>
            </fieldset>
            <fieldset class="acc-menu__input-wrapper">
                <label class="acc-menu__label" for="acc-set-filter">Opcions de contrast</label>
                <select class="acc-menu__select" id="acc-set-filter">
                    <option value="default" selected>Per defecte</option>
                    <option value="grayscale">Escala de grisos (blanc i negre)</option>
                    <option value="dark-contrast">Contrast fosc</option>
                    <option value="light-contrast">Contrast clar</option>
                    <option value="high-saturation">Saturació alta</option>
                    <option value="low-saturation">Saturació baixa</option>
                </select>
            </fieldset>
        </article>
        <button id="acc-reset" class="btn-brown btn--no-transform btn--block btn--w100">
            Reset
        </button>
        <button class="acc-menu__toggle-menu" id="acc-toggle">
            <img src="/diw-whale-project/assets/icons/person-standing.svg" alt="Opcions d'accessibilitat" />
        </button>
    </aside>


    <footer class="footer">
        <p class="footer__credits">Web by: Guiem Bagur</p>
        <p class="footer__copyright">&copy; 2024 - Present</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"
        integrity="sha512-a+SUDuwNzXDvz4XrIcXHuCf089/iJAoN4lmrXJg18XnduKK6YlDHNRalv4yd1N40OKI80tFidF+rqTFKGPoWFQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha384-1H217gwSVyLSIfaLxHbE7dRb3v4mYCKbpQvzx0cegeju1MVsGrX5xXxAvs/HgeFs" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/jquery-ui.min.js"
        integrity="sha512-MSOo1aY+3pXCOCdGAYoBZ6YGI0aragoQsg1mKKBHXCYPIWxamwOE7Drh+N5CPgGI5SA9IEKJiPjdfqWFWmZtRA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"
        integrity="sha512-0bEtK0USNd96MnO4XhH8jhv3nyRF0eK87pJke6pkYf3cM0uDIhNJy9ltuzqgypoIFXw3JSuiy04tVk4AjpZdZw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>

    <script src="/diw-whale-project/js/nav.js"></script>
    <script src="/diw-whale-project/js/utils-form.js"></script>
    <script src="/diw-whale-project/js/accessibility-menu.js"></script>
    <script src="/diw-whale-project/js/modal.js"></script>
    <script src="/diw-whale-project/js/auth.js"></script>
    <script src="/diw-whale-project/js/admin-panel.js"></script>
    <script src="/diw-whale-project/js/articles.js"></script>
    <script src="/diw-whale-project/js/article-editor.js"></script>
</body>

</html>