@include url("./fonts.scss");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    height: 100vh;
    background-color: black;
    height: 100svh;
}

.whale-viewer {
    width: 100%;
    height: 99.5%;
}